<!DOCTYPE html>
<html>
<head>

    <title> FAKEBOOK </title>
    <link rel="stylesheet" href="Fakebook.css">
</head>
    <body>


    <h1> <em>FAKEBOOK</em> </h1>

  <input type="text" placeholder="Search.." name="search">
  <button type="button"> Click here to meet new people</button>

    <h2> <strong> MY Profile </strong></h2>

    <h3> Bojan's Fakebook</h3>
    <img src="Bojan.jpg" width="550">

    <p> <strong>City:</strong> <em>Ljubljana</em> </p>
    <p> <strong> Age:</strong> <em>20+</em>  </p>
    <p> <strong> Favorite club:</strong> <em> Real Madrid </em> </p>




    </body>
</html>
